@model IEnumerable<BaiTap15.Models.Quyen>

@{
    ViewBag.HoatDong = "Bảng danh sách quyền";
}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <strong>TÊN BẢNG</strong>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-end">
            <a  href="@Url.Action("Create","Quyens")" class="btn btn-link" role="button"><i class="fas fa-plus mr-1"></i>Thêm mới</a>
        </div>
        <div class="pull-right">

        </div>
        <div class="table-responsive">

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr >
                        <th >Mã</th>
                        <th>Tên quyền</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td >@Html.DisplayFor(modelItem => item.MaQuyen)</td>
                            <td>@Html.DisplayFor(modelItem => item.TenQuyen)</td>

                            <td>
                                <a href="@Url.Action("Edit","Quyens",new {id = item.MaQuyen})" class="btn btn-link" role="button"><i class="fas fa-edit mr-1"></i>Sửa</a>
                                <a href="@Url.Action("Delete","Quyens",new {id = item.MaQuyen})" class="btn btn-link" role="button"><i class="fas fa-trash mr-1"></i>Xóa</a>
                            </td>
                        </tr>
                    }
                    </tbody>
            </table>
        </div>
    </div>
</div>


