@model BaiTap11_3.Models.MonHoc

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa môn học - Phạm Thị Hoài</h2>

<h3>Bạn chắc muốn xóa bản ghi này?</h3>
<div>
    <h4>MonHoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenMon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTinChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTinChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDangKy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDangKy)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}
