<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PHẠM THỊ HOÀI", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                    <li>@Html.ActionLink("Rượu", "Index", "Home")</li>
                    <li>@Html.ActionLink("Người dùng", "Index", "nguoidungs")</li>
                </ul>

                @if (Session["HoTen"] != null)
                {


                    <ul class="nav navbar-nav navbar-right">
                        <li><a> Xin chào, @Session["HoTen"] , @Session["idUser"] </a></li>

                        <li>@Html.ActionLink("Sửa thông tin", "EditHotenAndEmail", new { id = Session["idUser"]})</li>
                        <li>@Html.ActionLink("Đổi mật khẩu", "EditPass", new { id = Session["idUser"] })</li>

                        <li>@Html.ActionLink("Logout", "Logout", "Home", htmlAttributes: new { @style = "font-size:small; color: yellow" })</li>
                    </ul>

                }
                else
                {

                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" href=" @Url.Action("Register","Home")">
                                <span class="glyphicon glyphicon-user"></span>
                                Đăng ký
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=" @Url.Action("Login","Home")">
                                <span class="glyphicon glyphicon-log-in"></span>
                                Đăng nhập
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; <b> Phạm Thị Hoài - 2018603058 </b> @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
